* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

header {
    padding: 16px 0;
}
.container-fluid {
    padding: 0 64px;
    margin: auto;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding: 0 10px;
}

.inner-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container-fluid .inner-wraper nav {
    display: flex;
    gap: 20px;
}

.cta-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    transition: 0.2s;
}

.cta-button:hover, .cta-button-outline:hover {
    text-decoration: none;
    opacity: 0.7;
}

.cta-button-outline {
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    max-width: 200px;
    margin: auto;
}

.cta-button-outline.cta-black {
    border-color: black;
    color: black;
}

.hero {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    display: flex;
    color: white;
    position: relative;
    font-size: x-large;
}

.hero .hero-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    margin: auto;
    position: relative;
    padding: 0 10px;
}

.hero::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.services {
    text-align: center;
    padding: 112px 0;
}

.services .inner-services {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.service-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: gray;
    padding: 10px;
}

.service-box img {
    margin: auto;
}

.product {
    padding: 50px 0;
}

.product .product-intro {
    display: flex;
    gap: 50px;
    flex-basis: 50%;
}

.product .product-intro h2, .product .product-intro p {
    flex-basis: 50%;

}

.product .product-explanation {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.product .product-explanation .product-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.testimonials {
    padding: 50px 0;
}

.testimonials .testimonials-wrapper {
    max-width: 600px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 10px;
}

.testimonials-author {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.testimonials-author .testimonial-content {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 20px;
}

.testimonials-author .testimonial-content .name-title p:first-child {
    font-weight: 600;
}

.testimonials-author .logo {
    padding-left: 20px;
    border-left: 2px solid gray;
}

.cta-section {
    padding: 50px 0;
} 

.cta-section .cta-inner {
    display: flex;
    gap: 50px;
}

.cta-section .cta-inner .cta-image-wrapper img {
    width: 100%;
}

.cta-section .cta-inner .cta-image-wrapper, .cta-section .cta-inner .cta-content {
    flex-basis: 50%;
    display: block;
}

.cta-section .cta-inner .cta-content .cta-buttons-wrapper {
    margin-top: 50px;
}

@media (max-width: 991px) {
    .container-fluid {
        padding: 0 10px;
    }
    .services .inner-services {
        flex-wrap: wrap;
    }
    .service-box {
        flex-basis: calc((100% - 30px) / 2);
    }
    .cta-section .cta-inner {
        flex-direction: column;
    }

    .cta-section .cta-inner .cta-image-wrapper {
        order: -1;
    }
}

@media (max-width: 650px) {
    .service-box {
        flex-basis: 100%;
    }
    header .container-fluid .inner-wraper nav {
        display: none;
    }

    .product .product-intro {
        flex-direction: column;
        gap: 20px;
    }

    .product .product-explanation {
        flex-direction: column;

    }

    .product .product-explanation .product-item {
        gap: 10px;
    }

    .testimonials-author {
        flex-direction: column;
        gap: 10px;
    }

    .testimonials-author .logo {
        padding-left: 0;
        border-left: none;
    }

}